@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;
}

:root {
    --green: #384937;
    --pink: #f8ddd6;
    --blue: #225f7e;
    --black: #192028;
    --white: #f7f2ee;
    --red: #ae0617;;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    background-color: #111111;
}

header > img { /*Logo*/
    width: 40px;
    cursor: pointer;
}

header > nav {
    display: flex;
    gap: 3vw;
}

header > nav > a { /*Elementos da nav*/
    text-decoration: none;
    color: #888888;
    padding-bottom: 0.5vw;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    transition: all 0.2s ease-in-out;
    font-size: 1vw;
}

header > nav > a#pag { /*Para a parte do iPhone ficar selecionada*/
    text-decoration: none;
    color: white;
    border-bottom-color: white;
}

header > nav > a:hover { /*Efeito na nav*/
    transition: all 0.4s ease-in-out;
    text-decoration: none;
    color: white;
    border-bottom-color: white;
}
/*Fim do Header*/

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 85vh;
}

main > section {
    margin: 5vw;
}

#iphone13 {
    width: 150px;
    margin: 1vw 0;
}

main > section > h1 {
    margin-bottom: 2vw;
    font-size: 2.5em;
}

main > section > p {
    max-width: 700px;
    min-width: 100px;
}

main > section > p#valor { /*Preço*/
    margin: 1vw 0;
    color: #888888;
}

main > section > a { /*Botão de comprar*/
    display: inline-block;
    margin-bottom: 1vw;
    padding: 0.7vw 2vw;
    text-decoration: none;
    color: white;
    background-color: dodgerblue;
    border-radius: 50px;
    font-size: 1.2em;
    transition: all 0.2s ease-in-out;
}

main > section > a:hover {
    opacity: 0.8;
}

aside {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 1vw;
}

aside > a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
}

/*Cores para serem selecionadas*/
.green {
    background-color: var(--green);
}

.pink {
    background-color: var(--pink);
}

.blue {
    background-color: var(--blue);
}

.black {
    background-color: var(--black);
}

.white {
    background-color: var(--white);
}

.red {
    background-color: var(--red);
}

iframe {
    position: absolute;
    width: 40vw;
    height: 40vw;
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 500px) {
    
    header > nav > a {
        font-size: 0.4em;
    }
    
    aside > a {
        width: 20px;
        height: 20px;
    }
}